@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cOne: #E9ECEF;
  --cTwo: #DEE2E6;
  --cThree: #CED4DA;
  --cFour: #ADB5BD;
  --cFive: #6C757D;
  --cSix: #495057;
  --cSeven: #343A40;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', sans-serif;
}